@using UmbNav.Core.Models
@using UmbNav.Core.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var site = Model.Root();
    var umbNav = site.Value<IEnumerable<UmbNavItem>>("umbNav");
}
<!-- comment out the following line if you want to remove the root node name from the top navigation -->
@*<a class="nav-link @Html.Raw(Model.Id == site.Id ? "navi-link--active" : "")" href="@site.Url()">@site.Name</a>
@foreach (var item in selection)
{
    <a class="nav-link @(item.IsAncestorOrSelf(Model) ? "nav-link--active" : null)" href="@item.Url()">@item.Name</a>
}*@
@foreach (var item in umbNav)
{
    @*<umbnavitem menu-item="item" active-class="nav-link--active" class="nav-link"></umbnavitem>*@
    <a class="nav-link @Html.If(item.IsActive(Model, true), " nav-link--active")" href="@item.Url()">@item.Name</a>
}