@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using UmbNav.Core.Enums
@using UmbNav.Core.Extensions
@using UmbNav.Core.Models
@using Umbraco.Web;
@{
    var site = Model.Root();
    var umbNav = site.FirstChildOfType("umbNav").Value<IEnumerable<UmbNavItem>>("umbNavPE");
}
@foreach (var item in umbNav)
{
    var hideChildren = false;
    if (item.ItemType == UmbNavItemType.Content && item.Content != null && item.Content.HasProperty("hideChildren"))
    {
        hideChildren = item.Content.Value<bool>("hideChildren");
    }
    if (item.Image != null)
    {
        @item.Image.Url()
    }
    <a class="nav-link @item.CustomClasses" href="@item.Url()" target="@item.Target" rel="@item.Noopener @item.Noreferrer">@item.Title</a>
    if (!hideChildren)
    {
        foreach (var child in item.Children)
        {
            <a class="nav-link @child.CustomClasses" href="@child.Url()" target="@child.Target" rel="@child.Noopener @child.Noreferrer">@child.Title</a>
        }
    }
}