@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using UmbNav.Core.Enums
@using UmbNav.Core.Extensions
@using UmbNav.Core.Models
@using Umbraco.Web;
@{
    var site = Model.Root();
    var umbNav = site.FirstChildOfType("umbNav").Value<IEnumerable<UmbNavItem>>("umbNavPE");
}
@makeNav(umbNav)

@*<ul id="nav">
        @foreach (var item in umbNav)
        {
            if (item.Children != null && item.Children.Any())
            {
                <li>
                    <a class="@item.CustomClasses" href="@item.Url()" target="@item.Target" rel="@item.Noopener @item.Noreferrer">
                        @if (item.Image != null)
                        {
                            <img src="@item.Image.Url()" alt="@item.Title" width="30" height="30" />
                        }
                        @item.Title
                        @if (item.IsActive)
                        {
                            <text>Active</text>
                        }
                    </a>
                    <ul>
                        @foreach (var child in item.Children)
                        {
                            <li>
                                <a class="@child.CustomClasses" href="@child.Url()" target="@child.Target" rel="@child.Noopener @child.Noreferrer">
                                    @if (child.Image != null)
                                    {
                                        <img src="@child.Image.Url()" alt="@child.Title" width="30" height="30" />
                                    }
                                    @child.Title
                                    @if (child.IsActive)
                                    {
                                        <text>Active</text>
                                    }
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
            else
            {
                <li>
                    <a class="@item.CustomClasses" href="@item.Url()" target="@item.Target" rel="@item.Noopener @item.Noreferrer">
                        @if (item.Image != null)
                        {
                            <img src="@item.Image.Url()" alt="@item.Title" width="30" height="30" />
                        }
                        @item.Title
                        @if (item.IsActive)
                        {
                            <text>Active</text>
                        }
                    </a>
                </li>
            }
        }
    </ul>*@

@helper makeNav(IEnumerable<UmbNavItem> items)
{
    <ul>
        @foreach (var item in items)
        {
            <li>
                @if (item.ItemType == UmbNavItemType.Label)
                {
                    <h3>@item.Title</h3>
                }
                else
                {
                    @item.GetLinkHtml()
                    <a href="@item.Url()@item.Anchor" class="@item.CustomClasses" target="@item.Target">@item.Title</a>
                }

                @makeNav(item.Children)
            </li>
        }
    </ul>
}
