@using UmbNav.Core.Models
@using UmbNav.Core.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var site = Model.Root();
    var umbNav = site.FirstChildOfType("umbNav").Value<IEnumerable<UmbNavItem>>("umbNavPE");
}

@foreach (var item in umbNav)
{
    @*<a class="nav-link " href="@item.Url()" target="@item.Target" rel="@item.Noopener @item.Noreferrer">@item.Title (@item.IsActive)</a>*@
    @*<umbnavitem menu-item="item" class="nav-link" rel="test" active-class="me"></umbnavitem>*@
    @item.GetLinkHtml(cssClass: "nav-link", activeClass: "me2")
}